*,
*::after,
*::before  {
  font-family: 'Lora', Courier, monospace;
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    padding: 15px 30px;
}

.product_ {
    
  &_list {
    margin: 0 auto;
    display: flex;
    gap: 40px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &_item {
    padding: 20px;
    border: 2px chocolate solid;
    border-radius: 20px;
    box-shadow: none;
    display: flex;
    gap: 5px 0;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .2s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px 0;
    }
  }

  &_container {
    height: 150px;
    width: 170px;
    text-align: center;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &_title {
    font-weight: 600;
    width: 170px;
    text-align: center;
    display: inline-block;
  }

  &_price {
    font-size: 30px;
    font-weight: 600;
    color: rgb(36, 155, 46);
    text-align: center;
    display: inline-block;
  }
}

.buttons {
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    padding: 1px 5px;
    border: 1px solid grey;
    border-radius: 4px;
  }
}

.counter {
  font-weight: 600;
  padding: 0 10px;
}